<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Notifications
    </div>
    <div class="panel-body">
      <% if @notifications.blank? %>
        None
      <% else %>
        <ul class="list-group">
          <% @notifications.each do |notification| %>
            <% if notification.unread? %>
              <li class="list-group-item list-group-item-warning">
                <% notification.update_attributes(unread: false) %>
              <% else %>
                <li class="list-group-item">
                <% end %>
                <%= notification.title %><br/>
                <%= notification.content %>
                <% unless notification.solved? %>
                  <span id="notification-deal<%= notification.id %>">
                    <% if notification.n_type == "join_request" %>
                      <span style="float: right" id="deal-room">
                        <%= link_to 'Accept', approve_join_request_path(notification), class: "btn btn-primary", remote: true %>
                        <%= link_to 'Reject', disapprove_join_request_path(notification), class: "btn btn-default", remote: true %>
                      </span>
                    <% end %>
                    <% if notification.n_type == "invite_request" %>
                      <span style="float: right" id="deal-room">
                        <%= link_to 'Accept', accept_invite_request_path(notification), class: "btn btn-primary", remote: true %>
                        <%= link_to 'Reject', reject_invite_request_path(notification), class: "btn btn-default", remote: true %>
                      </span>
                    <% end %>
                  </span>
                <% end %>
                </li>
              <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
